[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

flask = "*"	
jinja2 = "*"
beautifulsoup4 = "*"
urllib = "*"
numpy = "*"
pandas = "*"
gunicorn = "*"

[requires]

python_version = "3.8"
